* {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  border: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #FFFFFF;
}

html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  /*background-color: #484349;*/
}

div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#start-game {}

.space-fill {
  width: 100%;
  height: 10%;
}

.title {
  width: 100%;
  height: 20%;
  flex-flow: row;
  font-size: 80px;
}

#population {
  align-content: flex-end;
  font-family: 'Special Elite', cursive;
}

#one {
  color: #8a0707;
  background-color: #FFFFFF;
  padding: 0px 24px 0px 24px;
}

.tagline {
  width: 100%;
  height: 15%;
  font-size: 32px;
}

#be-the-last {
  color: #8a0707;
  background-color: #FFFFFF;
  padding: 0px 16px 0px 16px;
}

.choose-player {
  width: 100%;
  height: 45%;
  flex-flow: row;
}

.player {
  width: 49.8%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.player-space-fill {
  width: 100%;
  height: 5%;
}

.player-last-human {
  width: 100%;
  height: 10%;
  font-size: 24px;
}

.player-model {
  width: 100%;
  height: 60%;
  flex-flow: row;
}

.player-bio {
  width: 33%;
  height: 100%;
}

.bio {
  width: 100%;
  height: 15%;
}

.bio-category {
  font-size: 24px;
  background-color: rgba(255, 179, 15, 0.75);
}

.bio-quip {}

.player-image {
  width: 33%;
  height: 100%;
  flex-flow: column;
}

.sprite {
  width: 100%;
  height: 70%;
  align-items: flex-end;
}

.player-name {
  width: 100%;
  height: 30%;
  font-size: 32px;
}

.player-ability {
  width: 33%;
  height: 100%;
  flex-flow: column;
}

.ability {
  width: 100%;
  height: 15%;
}

.ability-name {
  font-size: 24px;
  background-color: rgba(69, 115, 148, 0.75);
}

.keyGuide {
  width: 100%;
  height: 8%;
  flex-flow: row;
  font-size: 20px;
}

.changeKey {
  width: 33.33%;
  height: 100%;
}

#p1confirm, #p2confirm {
  animation: blink-confirm 2s infinite;
}

@keyframes blink-confirm {
  0% {
    background-color: #8a0707;
  }
  50% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: #8a0707;
  }
}

@keyframes steady-confirm {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.player-divider {
  width: 0.4%;
  height: 100%;
}

#load-game {
  display: none;
}

.loading {
  width: 100%;
  height: 20%;
  font-size: 48px;
}

.player-info-bar {
  width: 100%;
  height: 10%;
  flex-flow: row;
  font-size: 24px;
}

.player-info-half {
  width: 50%;
  height: 100%;
  flex-flow: row;
}

.info-player-name {
  width: 25%;
  height: 100%;
  background-color: #FFFFFF;
  color: #8a0707;
  font-size: 32px;
}

.ability-lives-space-container {
  width: 45%;
  height: 100%;
  flex-flow: column;
}

.lives-container {
  width: 100%;
  height: 50%;
  flex-flow: row;
}

.word-lives {
  width: 75%;
  height: 100%;
  background-color: rgba(255, 179, 15, 0.75)
}

.info-lives {
  width: 25%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5)
}

.ability-container {
  width: 100%;
  height: 50%;
  flex-flow: row;
}

.info-ability-name {
  width: 75%;
  height: 100%;
  background-color: rgba(69, 115, 148, 0.75);
}

.info-ability-charge {
  width: 25%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5)
}

.space-fill-container {
  width: 50%;
  height: 100%;
}

#countdown {
  color: #8a0707;
  background-color: #FFFFFF;
  padding: 0px 12px 0px 12px;
}

#tips {
  font-size: 24px;
}

.canvas-container {
  display: none;
}

.canvas-div {
  width: 100%;
  height: 80%;
}

#canvas {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  /*background-color: #FFFFFF;*/
}

.hidden-files {
  display: none;
}

@media only screen and (max-width: 800px) {
  * {
    font-size: 12px;
  }
  #population {
    font-size: 40px;
    padding: 0px 0px 0px 12px;
  }
  #one {
    font-size: 40px;
    padding: 0px 8px 0px 8px;
  }
  .tagline {
    font-size: 16px;
  }
  #tagline {
    font-size: 20px;
  }
  #be-the-last {
    font-size: 20px;
  }
  .player-last-human {
    font-size: 20px;
  }
  .player-name {
    font-size: 16px;
  }
  .bio {
    display: none;
  }
  .bio-quip {
    display: flex;
    color: rgba(0, 0, 0, 0.0);
  }
  .ability {
    display: none;
  }
  .ability-name {
    height: 25%;
    display: flex;
    font-size: 16px;
  }
  #ravenous {
    font-size: 28px;
  }
  #countdown {
    font-size: 28px;
  }
  #tips {
    font-size: 16px;
  }
}
